/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-image: url('https://services.meteored.com/img/article/para-qual-lugar-o-universo-esta-se-expandindo-1685829316554_1280.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: white;
}

/* Encabezado y navegación */
header {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Secciones */
section {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    margin: 10px;
    border-radius: 5px;
}

.centrado-texto {
    text-align: center;
}

/* Galería y Productos */
.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.gallery img {
    max-width: 25%;
    margin-bottom: 10px;
}

.product-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    margin: 10px;
    width: 180px; /* Ajusta el ancho de cada producto */
}

.product img {
    width: 100%; /* Ocupa el 100% del contenedor */
    height: auto; /* Mantiene la relación de aspecto */
    max-height: 150px; /* Tamaño máximo de altura para todas las imágenes */
    object-fit: contain; /* Ajusta la imagen para no recortarse */
    margin-bottom: 10px;
}

/* Especificaciones para imágenes de productos seleccionados */
.product img.dragon {
    max-height: 150px; /* Tamaño máximo de altura para el dragón */
}

.product img.amiibo,
.product img.llavero {
    max-height: 150px; /* Tamaño máximo de altura para amiibo y llavero */
}

/* Estilos para formularios centrados */
.centrado {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input, form textarea, form input[type="file"], form button {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    max-width: 400px;
}

form button {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 8px;
    font-size: 14px;
}

/* Pie de página */
footer {
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

/* Estilo para los íconos de redes sociales */
.svg {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 5px;
    filter: invert(100%) brightness(200%);
}

.svg-youtube, .svg-cults3d {
    width: 24px;
    height: 24px;
}

/* Estilo para los enlaces de redes sociales */
.social a {
    color: white; /* Cambia el color de los nombres de las redes sociales a blanco */
    text-decoration: none;
    display: inline-block;
    margin: 0 5px;
}


/* Consultas de medios para dispositivos móviles con un ancho máximo de 1080px */
@media (max-width: 1080px) {
    nav {
        display: flex;
        justify-content: center; /* Centra horizontalmente el nav */
        align-items: center; /* Centra verticalmente si es necesario */
    }

    nav ul {
        display: flex;
        justify-content: center; /* Centra los elementos dentro del ul */
        flex-direction: column; /* Coloca los elementos en columna */
        align-items: center; /* Centra cada elemento */
        padding: 0;
        margin: 0;
        list-style: none;
    }

    nav ul li {
        margin: 10px 0; /* Espacio vertical entre los elementos */
    }

    nav ul li a {
        color: white;
        text-decoration: none;
        font-size: 18px; /* Ajusta el tamaño de la fuente para mejor visualización */
        text-align: center;
        width: 100%; /* Asegura que ocupe todo el ancho disponible */
    }
}